#map-canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#list, #current-location, #search-bar {
    background-color: white;
    z-index: 100;
    position: absolute;
}

/*
#current-location {
    top: 40px;
    left: 100px;
}
*/

/*
#search-bar {
    z-index: 100;
}
*/
ul {
    list-style: none;
}

li {
    cursor: pointer;
    /*padding: 10px;
    border: solid;*/
}

.concertWindow {

}

.infoConcertTitle {
    font-weight: bold;
}

.infoConcertDate {

}