#map-canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

svg {
    width: 42px;
    fill: black;
}

#info-window {
    z-index: 100;
}
#close-button {
    display: block;
    width: 42px;
    right: 0;
    position: absolute;
}

.svg-button {
    width: 42px;
}

li {
    cursor: pointer;
    padding-left: 15px;
    margin-top: -16px;
}

li:hover {
    background-color: rgba(162, 222, 208, .3);
}

.concertWindow {

}

.infoConcertTitle {
    font-weight: bold;
}

.infoConcertDate {

}