.extra-info {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: white;
    color: black;
    display: block;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    width: 400px;
    height: 500px;
    overflow: auto;
    word-wrap: break-word;
    -webkit-transform: translate(0, -605px);
    transform: translate(0, -605px);
    transition: transform 0.3s ease;
}

.extra-info.open {
    display: block;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

#menu-toggle {
    position: absolute;
    z-index: 100px;
    display: block;
}

.mobile-menu ul {
    list-style: none;
    overflow: auto;
    height: 100%;
    /* TODO: change to longform margin: 0,0,15,15 but check syntax */
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.event-info ul {
    margin: 5px;
}

.search-box {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#event-search {
    position: absolute;
    height: 31px;
}

#location-search {
    position: absolute;
    height: 31px;
}

.mobile-menu {
    z-index: 100;
    bottom: 15px;
    position: absolute;
    color: black;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.search-box {
    width: calc(100% - 10px);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

@media screen and (max-width: 514px) {
    #menu-toggle {
        display: block;
        top: 40px;
        left: 5px;
    }

    #event-list ul {
        height: 100%;
        font-size: large;
    }

    .mobile-menu {
        width: 220px;
        position: absolute;
        left: 0;
        background-color: rgba(255,255,255,0.85);
        -webkit-transform: translate(-220px, 0);
        transform: translate(-220px, 0);
        transition: transform 0.3s ease;
    }

    .search-box {
        font-size: larger;
        text-align: center;
        height: 26px;
    }

    #event-search {
        top: 0;
        height: 40px;
    }

    #event-list {
        top: 40px;
        height: calc(100% - 80px);
    }
    #location-search {
        bottom: 0;
        height: 40px;
    }

    .mobile-menu.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@media screen and (min-width: 515px) {
    .mobile-menu {
        background-color: rgba(255,255,255,0.6);
    }
    #menu-toggle {
        right: 110px;
        top: -2px;
    }
    .mobile-menu {
        display: none;
    }
    .close {
        display: none;
    }
    .mobile-menu.open {
        /*display: none; */
    }
    .bigOpen {
        display: block;
    }
    #event-list {
        width: calc(100% / 3);
        max-width: 260px;
        min-width: 200px;
        height: calc(100% - 150px);
        right: 15px;
    }
    #event-search {
        top: 10px;
        right: 170px;
        /*width: 300px;
        max-width: 260px;*/
        min-width: 300px;
    }
    #location-search {
        bottom: 50px;
        left: 50px;
        width: 250px;
    }
    #location-search input {
        width: 230px;

    }
}
/* @media screen and (min-width: BIG SIZE) ???? or is this the same as medium?