.menu {
    position: absolute;
    z-index: 100px;
    display: none;
}
#small-menu {
    top: 40px;
    left: 5px;
}
#big-menu {
    right: 110px;
    top: -2px;
}
@media screen and (min-width: 515px) {
    #big-menu {
        display: block;
}

    .close {
        display: none;
    }
}

svg {
    width: 42px;
    fill: black;
}

ul {
    overflow: auto;
    height: calc(100% - 75px);
    /* TODO: change to longform margin: 0,0,15,15 but check syntax */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
}

.search-box {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#event-search {
    margin-top: 10px
}

.mobile-menu {
    z-index: 100;
    width: calc(100% / 3);
    max-width: 260px;
    min-width: 200px;
    height: calc(100% - 90px);
    /* set max height for BIG SIZE screens? i.e. no other media query */
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #393232;
    color: white;
}
@media screen and (max-width: 514px) {
    #small-menu {
        display: block;
    }
    /*
    ::-webkit-scrollbar { 
        display: none; 
    }
    */
    ul {
        height: calc(100% - 70px);
    }
    .mobile-menu {
        z-index: 100;
        width: 220px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #393232;
        color: white;
        -webkit-transform: translate(-220px, 0);
        transform: translate(-220px, 0);
        transition: transform 0.3s ease;
    }

    .mobile-menu.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

/* @media screen and (min-width: BIG SIZE) ???? or is this the same as medium?