/* Global / All Screen Sizes */

/* Google Map */
#map-canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* TODO: make a class for this? where to put/organize this? */
li {
    cursor: pointer;
    padding-left: 15px;
    margin-top: -16px;
}

li:hover {
    background-color: rgba(162, 222, 208, .3);
}


/* TODO: style infoWindows and put/organize these into proper section of this CSS file */
.concertWindow {

}

.infoConcertTitle {
    font-weight: bold;
}

.infoConcertDate {

}

/* Hamburger menu button */
#menu-toggle {
    position: absolute;
    z-index: 100;
    display: block;
}

svg {
    width: 42px;
    fill: black;
}

.svg-button {
    width: 42px;
}

/* event/location search, lists, & button toggle */
.mobile-menu {
    z-index: 100;
    position: absolute;
    color: black;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}


/* TODO: make a class for ULs with this styling? */
/* Event/Venue List */
.mobile-menu ul {
    list-style: none;
    overflow: auto;
    height: 100%;
    /* TODO: change to longform margin: 0,0,15,15 but check syntax */
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


/* Event and location search */
.search-box {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: calc(100% - 10px);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

/* TODO: does height belong here or in diff media query? (for event and location search) */
#event-search {
    position: absolute;
    height: 31px;
}

#location-search {
    position: absolute;
    height: 31px;
}


/* Extra -info display */
#extra-info {
    position: absolute;
    background-color: white;
    color: black;
    display: block;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    overflow: auto;
    word-wrap: break-word;
    transition: transform 0.3s ease;
    z-index: 100;
}

#extra-info.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

#close-button {
    display: block;
    width: 42px;
    right: 0;
    position: absolute;
}

.event-info ul {
    margin: 5px;
}


/* Toggle Buttons (list and extra-info) */

button {
    height: 40px;
    background-color: rgba(255,255,255,0.85);
    font-weight: bold;
}

.pressed {
    font-weight: normal;
}

.list-button {
    width: 50%;
}

#info-button {
    width: 100%;
}


/* SMALL SCREENS */
@media screen and (max-width: 514px) {
    /* Hamburger menu button */
    #menu-toggle {
        top: 40px;
        left: 5px;
    }

    /* event/location search, lists, & button toggle */
    .mobile-menu.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .mobile-menu {
        width: 260px;
        position: absolute;
        left: 0;
        background-color: rgba(255,255,255,0.85);
        -webkit-transform: translate(-260px, 0);
        transform: translate(-260px, 0);
        transition: transform 0.3s ease;
    }


    /* Event and location search */
    .search-box {
        font-size: larger;
        text-align: center;
        height: 26px;
    }

    #event-search {
        top: 0;
        height: 40px;
    }

    #location-search {
        bottom: 0;
        height: 40px;
    }


    /* List */
    .list  ul {
        height: 100%;
        font-size: large;
    }

    .list {
        top: 120px;
        height: calc(100% - 160px);
    }


    /* Extra -info display */
    #extra-info {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-transform: translate(0, calc(-100% - 5px));
        transform: translate(0, calc(-100% - 5px));
    }


    /* Toggle Buttons (list and extra-info) */
    #list-toggle {
        top: 40px;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* MEDIUM SCREENS */

@media screen and (min-width: 515px) {
    /* Hamburger menu button */
    /* TODO: rename this class in html and here to conform to style guidelines (i.e. "big-open") */
    #menu-toggle {
        right: 110px;
        top: -2px;
    }


    /* event/location search, lists, & button toggle */
    /* Display: none; ??? do i still need this? */
    .mobile-menu {
        background-color: rgba(255,255,255,0.6);
        display: none;
    }

    /* TODO: change big-open to mobile-menu.toggle ? */
    .big-open {
        display: block;
    }


    /* Event and location search */
    #event-search {
        top: 10px;
        right: 170px;
        /*width: 300px;
        max-width: 260px;*/
        min-width: 300px;
    }

    #location-search {
        bottom: 50px;
        left: 50px;
        width: 250px;
    }

    #location-search input {
        width: 230px;

    }


    /* List */
    .list {
        width: calc(100% / 3);
        max-width: 260px;
        min-width: 200px;
        height: calc(100% - 150px);
        right: 15px;
        bottom: 15px;
    }


    /* Extra -info display */
    #extra-info {
        -webkit-transform: translate(0, -515px);
        transform: translate(0, -515px);
        top: 10px;
        left: 85px;
        width: 350px;
        height: 500px;
    }
    /* Toggle Buttons (list and extra-info) */
    #list-toggle {
        top: 40px;
        right: 15px;
        height: 80px;
        width: calc(100% / 3);
        max-width: 260px;
        min-width: 200px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* LARGE SCREENS */
    /* Hamburger menu button */
    /* event/location search, lists, & button toggle */
    /* Event and location search */
    /* List */
    /* Extra -info display */
    /* Toggle Buttons (list and extra-info) */