/* Global / All Screen Sizes */
body {
    font-family: Georgia, Serif;
    overflow: hidden;
}

ul {
    list-style: none;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

/* Google Map */
.map-canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Text Styles */
h4 {
    margin-top: 0;
}

.pale-text {
    color: #525252;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.larger {
    font-size: larger;
}

/* Clickable items */
.clickable:hover {
    cursor: pointer;
    background-color: rgba(162, 222, 208, .3);
}

/* Info Windows */
.window-header {
    margin: 10px auto 5px auto;
}

/* TODO: remove this? */
.window-list {
}

/* TODO: remove this? */
.window-list-element {
}

/* TODO: remove this? */
.window-event-name {
}

.window-event-date {
    margin: 10px 5px;
}

.infoConcertTitle {
    font-weight: bold;
}

/* Hamburger menu button */
.menu-toggle {
    position: absolute;
    z-index: 100;
    display: block;
}

svg {
    width: 42px;
    fill: black;
}

.svg-button {
    width: 42px;
}

/* menu & lists / list-items */
.mobile-menu {
    z-index: 100;
    position: absolute;
    color: black;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

.list-container {
    overflow: auto;
}
.list {
    margin-top: -8px;
}

.list-item {
    padding-left: 15px;
    margin-top: -16px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags-item {
    padding: 2px;
    border: thin solid black;
    margin: 2px;
}

/* Event and location search */


/* Extra -info display */
.extra-info {
    position: absolute;
    background-color: white;
    color: black;
    display: block;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    border: thin black solid;
    overflow: auto;
    word-wrap: break-word;
    transition: transform 0.3s ease;
    z-index: 100;
}

.extra-info.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.close-button {
    display: block;
    width: 42px;
    right: 0;
    position: absolute;
}

.extra-info-content {
    padding: 10px 30px;
}

.youtube-link {
    margin-bottom: 20px;
}

/* Toggle Buttons (list and extra-info) */

button {
    height: 40px;
    background-color: rgba(255,255,255,0.85);
    font-weight: normal;
}

.pressed {
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.list-button {
    width: 50%;
}

.info-button {
    width: 100%;
}


/* SMALL SCREENS */
@media screen and (max-width: 599px) {
    /* Hamburger menu button */
    .menu-toggle {
        top: 40px;
        left: 5px;
    }

    /* event/location search, lists, & button toggle */
    .mobile-menu.small {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .mobile-menu {
        width: 260px;
        position: absolute;
        left: 0;
        background-color: rgba(255,255,255,0.85);
        -webkit-transform: translate(-260px, 0);
        transform: translate(-260px, 0);
    }


    /* Event and location search */
    .search-box {
        width: 255px;
        font-size: larger;
        text-align: center;
        height: 40px;
    }

    .event-search {
        top: 0;
    }

    .location-search {
        bottom: 0;
    }


    /* List */
    .list {
        height: 100%;
        font-size: large;
    }

    .list-container {
        top: 120px;
        height: calc(100% - 160px);
    }


    /* Extra -info display */
    .extra-info {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-transform: translate(0, calc(-100% - 5px));
        transform: translate(0, calc(-100% - 5px));
    }


    /* Toggle Buttons (list and extra-info) */
    .list-toggle {
        top: 40px;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* MEDIUM & LARGE SCREENS */

@media screen and (min-width: 600px) {
    /* Hamburger menu button */
    .menu-toggle {
        right: 110px;
        top: -2px;
    }


    /* event/location search, lists, & button toggle */
    .list-toggle {
        top: 40px;
        right: 45px;
        height: 80px;
        width: calc(100% / 3);
        max-width: 260px;
        min-width: 200px;
        display: flex;
        flex-wrap: wrap;
    }

    .mobile-menu {
        background-color: rgba(255,255,255,0.6);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .mobile-menu.large-search {
        -webkit-transform: translate(0, -45px);
        transform: translate(0, -45px);
    }

    .mobile-menu.large-toggle {
        -webkit-transform: translate(280px, -125px);
        transform: translate(280px, -125px);
    }

    .mobile-menu.large-list {
        -webkit-transform: translate(280px, 0);
        transform: translate(280px, 0);
    }

    .mobile-menu.large-location {
        -webkit-transform: translate(-300px, 81px);
        transform: translate(-300px, 81px);
    }
    /* Event and location search */
    .search-box {
        padding: 5px;
        font-size: medium;
        background-color: white;
    }

    .search-box:focus {
        border: solid medium orange;
    }

    .event-search {
        top: 10px;
        left: 75px;
        width: 45%;
        max-width: 500px;
    }

    .location-search {
        bottom: 50px;
        left: 50px;
        width: 250px;
    }

    /* List */
    .list-container {
        width: calc(100% / 3);
        max-width: 260px;
        min-width: 200px;
        height: calc(100% - 150px);
        right: 45px;
        bottom: 25px;
    }


    /* Extra -info display */
    .extra-info {
        -webkit-transform: translate(0, -550px);
        transform: translate(0, -550px);
        top: 45px;
        left: 85px;
        width: 350px;
        height: 500px;
    }
}