/* TABLE OF CONTENTS
    -GLOBAL SETTINGS/ALL SCREEN SIZES
        -Text Styling
            -Clickable Items
        -Specific Elements
            -Google Map
            -Info Windows
            -UI Elements
    -SMALL SCREENS
    -MEDIUM & LARGE SCREENS
*/

/* TODO: rename classes? */

/*** GLOBAL SETTIGNS ***/
* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, Serif;
    overflow: hidden;
    color: #111;
}

ul {
    list-style: none;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.map-canvas,
.menu-interface,
.menu-toggle,
.request-artist-info,
.extra-info,
.extra-info > .close-button {
    position: absolute;
}

/* Text Styles */
h4 {
    margin-top: 0;
}

.pale-text {
    color: #525252;
}

.subtitle, .italic {
    font-style: italic;
}

.subtitle {
    font-weight: normal;
}

/* Clickable items */
.clickable:hover {
    cursor: pointer;
    background: rgba(162, 222, 208, .4);
}

.highlight {
    background: rgba(6, 69, 173, .5);
}

/*** SPECIFIC ELEMENTS ***/
/* Google Map */
.map-canvas {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* Info Windows */
.info-content h2 {
    margin: 10px auto 5px auto;
}

    .info-content .window-event-date {
        margin: 10px 5px;
    }


/* UI/Menu Elements */
.menu-interface,
.extra-info,
.menu-toggle {
    transition: transform 0.3s ease;
        z-index: 100;
}

.menu-interface, .extra-info, .request-artist-info {
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.request-artist-info,
.extra-info {
    background: #fff;
}

/* UI Toggle Buttons (list and extra-info) */
button {
    height: 40px;
    background: rgba(255,255,255,0.85);
}

.pressed {
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    color: white;
}

.list-button {
    width: 50%;
}

.info-button {
    width: 100%;
}

/* Hamburger menu button */
.menu-toggle {
    z-index: 100;
    display: block;
}

    .menu-toggle > svg {
        width: 42px;
        fill: black;
    }

/* Event/Venue List */
.list-container {
    overflow: auto;
}

    .list-container > * > ul {
        margin-top: -8px;
    }

        .list-container > * > ul > li {
            padding-left: 15px;
            margin-top: -16px;
        }

/*** Overlays ***/
.request-artist-info {
    max-width: 400px;
    top: 52px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    border: 2px inset;
    z-index: 101;
}
    .request-artist-info button {
        width: 33%;
        vertical-align: middle;
    }

/* Extra -info display */
.extra-info {
    border: thin black solid;
    overflow: auto;
    word-wrap: break-word;
}

    .extra-info.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .extra-info > * > div {
        padding: 30px;
    }

    .extra-info > .close-button {
        font-size: 40px;
        text-align: center;
        right: 0;
        padding: 0 10px;
    }

    /* Artist & Venue Tags */
    .extra-info .tags {
        display: flex;
        flex-wrap: wrap;
    }

        .extra-info .tags > li {
            padding: 2px;
            border: thin solid black;
            margin: 2px;
        }

    .youtube-link {
        margin-bottom: 20px;
    }


/*** SMALL SCREENS ***/
@media screen and (max-width: 599px), screen and (max-height: 599px) {
    /* Hamburger menu button */
    .menu-toggle {
        top: 40px;
        left: 5px;
    }
        .menu-toggle.open {
            -webkit-transform: translate(260px, 0);
            transform: translate(260px, 0);
        }

    /* event/location search, lists, & button toggle */
    .menu-interface {
        width: 260px;
        left: 0;
        background: rgba(255,255,255,0.85);
        -webkit-transform: translate(-260px, 0);
        transform: translate(-260px, 0);
    }

        .menu-interface.open {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        /* UI Toggle Buttons (list and extra-info) */
        .menu-interface.list-toggle {
            top: 40px;
            height: 80px;
        }

    .request-artist-info {
        width: calc(100% - 50px);
    }

    /* Event and location search */
    .search-box {
        font-size: larger;
        text-align: center;
        height: 40px;
    }

        .search-box.event-search {
            top: 0;
            width: 259px;
        }

        .search-box.location-search {
            bottom: 0;
        }


    /* List */
    .list-container {
        top: 120px;
        height: calc(100% - 160px);
    }
        .list-container > ul {
            height: 100%;
            font-size: large;
        }

    /* Extra -info display */
    .extra-info {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-transform: translate(0, calc(-100% - 5px));
        transform: translate(0, calc(-100% - 5px));
    }
}
/*** MEDIUM & LARGE SCREENS ***/
@media screen and (min-width: 600px) and (min-height: 600px) {
    /* Hamburger menu button */
    .menu-toggle {
        right: 110px;
        top: -2px;
    }

    /* event/location search, lists, & button toggle */
    .list-toggle {
        top: 40px;
        right: 45px;
        height: 80px;
        width: calc(100% / 3);
        max-width: 260px;
        min-width: 200px;
    }

    .menu-interface {
        background: rgba(255,255,255,0.6);
    }

        .menu-interface.open {
            -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
        }

        .menu-interface.event-search {
            -webkit-transform: translate(0, -45px);
            transform: translate(0, -45px);
        }

        .menu-interface.list-toggle {
            -webkit-transform: translate(310px, -125px);
            transform: translate(310px, -125px);
        }

        .menu-interface.list-container {
            -webkit-transform: translate(310px, 0);
            transform: translate(310px, 0);
        }

        .menu-interface.location-search {
            -webkit-transform: translate(-300px, 81px);
            transform: translate(-300px, 81px);
        }

    /* Event and location search */
    .search-box {
        padding: 5px;
        font-size: medium;
        background: #fff;
    }

        .search-box:focus {
            border: solid medium orange;
        }

        .search-box.event-search {
            top: 10px;
            left: 110px;
            width: 35%;
            max-width: 400px;
        }

        .search-box.location-search {
            bottom: 50px;
            left: 50px;
            width: 250px;
        }

    /* List */
    .list-container {
        width: calc(100% / 3);
        max-width: 260px;
        min-width: 200px;
        height: calc(100% - 150px);
        right: 45px;
        bottom: 25px;
    }

    /* Extra -info display */
    .extra-info {
        -webkit-transform: translate(0, -550px);
        transform: translate(0, -550px);
        top: 45px;
        left: 85px;
        width: 350px;
        height: 500px;
    }
}