/* Global / All Screen Sizes */

body {
    font-family: Georgia, Serif;
    overflow: hidden;
}

/* Google Map */
#map-canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* TODO: change all classes to just be .pale-text */
.date, .address, .phone-number, .pale-text {
    color: #525252;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/* TODO: make a class for this? where to put/organize this? */
ul {
    list-style: none;
    overflow: auto;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.event-list ul {
    margin-top: -16px;
}
/*
li {
    margin-top: -16px;
}
*/

.list-item {
    padding-left: 15px;
    margin-top: -16px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags li {
    padding: 2px;
    border: thin solid black;
    margin: 2px;
}

.youtube-link {
    margin-bottom: 20px;
}

.clickable:hover {
    cursor: pointer;
    background-color: rgba(162, 222, 208, .3);
}

/* Map Marker Info Windows */
.window-header {
    margin-bottom: 5px;
    margin-top: 10px;
}

.window-list {
    padding: 0;
    padding-top: 1px;
    margin: 0;
    margin-top: 10px;
}

.window-list-element {
    padding-left: 0;
    margin-top: 10px;
}

.window-event-name {
    margin-bottom: 10px;
    margin-top: 5px;
}

.window-event-date {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left:5px;
}

.infoConcertTitle {
    font-weight: bold;
}

/* Hamburger menu button */
#menu-toggle {
    position: absolute;
    z-index: 100;
    display: block;
}

svg {
    width: 42px;
    fill: black;
}

.svg-button {
    width: 42px;
}

/* event/location search, lists, & button toggle */
.mobile-menu {
    z-index: 100;
    position: absolute;
    color: black;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}


/* TODO: make a class for ULs with this styling? */
/* Event/Venue List */
/*
.mobile-menu ul {
    list-style: none;
    overflow: auto;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
*/

/* Event and location search */
.search-box {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: calc(100% - 10px);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

/* TODO: does height belong here or in diff media query? (for event and location search) */
#event-search {
    position: absolute;
    height: 31px;
}

#location-search {
    position: absolute;
    height: 31px;
}


/* Extra -info display */
#extra-info {
    position: absolute;
    background-color: white;
    color: black;
    display: block;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    border: thin black solid;
    overflow: auto;
    word-wrap: break-word;
    transition: transform 0.3s ease;
    z-index: 100;
}

#extra-info.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

#close-button {
    display: block;
    width: 42px;
    right: 0;
    position: absolute;
}

.extra-info-content {
    padding: 10px 30px;
}
/*
.event-info ul {
    margin: 5px;
}
*/

/* Toggle Buttons (list and extra-info) */

button {
    height: 40px;
    background-color: rgba(255,255,255,0.85);
    font-weight: normal;
}

.pressed {
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.list-button {
    width: 50%;
}

#info-button {
    width: 100%;
}


/* SMALL SCREENS */
@media screen and (max-width: 599px) {
    /* Hamburger menu button */
    #menu-toggle {
        top: 40px;
        left: 5px;
    }

    /* event/location search, lists, & button toggle */
    .mobile-menu.small {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .mobile-menu {
        width: 260px;
        position: absolute;
        left: 0;
        background-color: rgba(255,255,255,0.85);
        -webkit-transform: translate(-260px, 0);
        transform: translate(-260px, 0);
    }


    /* Event and location search */
    .search-box {
        font-size: larger;
        text-align: center;
        height: 26px;
    }

    #event-search {
        top: 0;
        height: 40px;
    }

    #location-search {
        bottom: 0;
        height: 40px;
    }


    /* List */
    .list {
        height: 100%;
        font-size: large;
    }

    .list-container {
        top: 120px;
        height: calc(100% - 160px);
    }


    /* Extra -info display */
    #extra-info {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-transform: translate(0, calc(-100% - 5px));
        transform: translate(0, calc(-100% - 5px));
    }


    /* Toggle Buttons (list and extra-info) */
    #list-toggle {
        top: 40px;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* MEDIUM SCREENS */

@media screen and (min-width: 600px) {
    /* Hamburger menu button */
    /* TODO: rename this class in html and here to conform to style guidelines (i.e. "big-open") */
    #menu-toggle {
        right: 110px;
        top: -2px;
    }


    /* event/location search, lists, & button toggle */

    /* TODO: this still displays when shouldn't be */
    #list-toggle {
        top: 40px;
        right: 15px;
        height: 80px;
        width: calc(100% / 3);
        max-width: 260px;
        min-width: 200px;
        display: flex;
        flex-wrap: wrap;
    }

    .mobile-menu {
        background-color: rgba(255,255,255,0.6);
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }

    .mobile-menu.large-search {
        -webkit-transform: translate(0, -45px);
        transform: translate(0, -45px);
    }

    .mobile-menu.large-toggle {
        -webkit-transform: translate(280px, -125px);
        transform: translate(280px, -125px);
    }

    .mobile-menu.large-list {
        -webkit-transform: translate(280px, 0);
        transform: translate(280px, 0);
    }

    .mobile-menu.large-location {
        -webkit-transform: translate(-300px, 81px);
        transform: translate(-300px, 81px);
    }
    /* Event and location search */
    #event-search {
        top: 10px;
        left: 75px;
        width: 50%;
        max-width: 500px;
    }

    #location-search {
        bottom: 50px;
        left: 50px;
        width: 250px;
    }

    #location-search input {
        width: 230px;

    }


    /* List */
    .list-container {
        width: calc(100% / 3);
        max-width: 260px;
        min-width: 200px;
        height: calc(100% - 150px);
        right: 15px;
        bottom: 15px;
    }


    /* Extra -info display */
    #extra-info {
        -webkit-transform: translate(0, -550px);
        transform: translate(0, -550px);
        top: 45px;
        left: 85px;
        width: 350px;
        height: 500px;
    }
}

/*
@media screen and (min-width: 1100px) {
    #list-toggle, .list{
        right: calc(100% / 10);
    }
    .mobile-menu.large-list {
        -webkit-transform: translate(calc(100%);
        transform: translate(calc(100%);
    }
}
*/
/* LARGE SCREENS */
    /* Hamburger menu button */
    /* event/location search, lists, & button toggle */
    /* Event and location search */
    /* List */
    /* Extra -info display */
    /* Toggle Buttons (list and extra-info) */